@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
@import "bootstrap";
@import "animate.scss";
@import "fileinput.scss";

* {
    outline: 0 !important;
}
*::-moz-focus-inner {
  border: 0;
}

.bootbox-body {
    word-wrap: break-word;
}

body {
    background: #f8f8f8;
}


#navTabs .active a {
    background: #eee;
    color: #23527c;
}

#navContents {
    padding: 20px 0;
    table {
        border: solid #ddd;
        border-width: 0 0 1px;
        margin: 0 0 10px;
    }
    button.btn-add {
        float: right;
    }
}

.delete {
    color: inherit;
    cursor: pointer;
    &:hover {
        color: red;
    }
}

.details {
    color: inherit;
    cursor: pointer;
    &:hover {
        color: #5cb85c;
    }
}


table tr td:last-child {
    text-align: right;
}

#ajaxLoader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(255,255,255,0.7);
    display: none;
}




/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    background-color: #fff;
}

@media screen and (min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
        min-height: calc(100vh - 51px);
    }
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

@media screen and (min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
}










