@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";


#wrapper {
    padding: 40px 0;
}

#contextsTable {
    table tr td:last-child {
        text-align: right;
    }
    table {
        border: solid #ddd;
        border-width: 0 0 1px;
        margin: 0 0 10px;
    }
    button.btn-add {
        float: right;
    }
}

.delete {
    color: inherit;
    cursor: pointer;
    &:hover {
        color: red;
    }
}

#addContext {
    table tr td:last-child {
        text-align: right;
    }
}
